/*** all ***/
* {
  width: auto;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: Arial;
  font-size: 15px;
}
body {
  background-color: white;
}
main {
  display: flex;
  flex-direction: column;
}

/*** nav ***/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: white;
  padding: 15px 30px;
  border-bottom: 3px rgb(23, 23, 24);
}
nav > ul {
  display: none;
}

/*** header ***/
header {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin: 25px;
  text-align: left;
  /*overflow: visible;*/
}
header h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
header p {
  margin-bottom: 20px;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header input {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-color: grey;
}
header button {
  background-color: #192592;
  color: white;
  height: 50px;
  width: 100%;
  padding: 5px;
  line-height: 3;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: none;
}

/*** good company ***/
.goodCompany {
  background-color: #f4f3f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 25px;
}
.logos {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 25px;
}
.logos > img {
  width: auto;
  margin: 35px;
}
.goodCompany > button {
  background-color: white;
  height: 50px;
  width: 100%;
  padding: 5px;
  line-height: 3;
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: #192592;
  color: #192592;
}
.goodCompany > p,
h2 {
  margin-bottom: 25px;
}

/*** try it ***/
.tryIt {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
.tryIt input {
  height: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  border-color: grey;
}
.tryIt button {
  background-color: #192592;
  color: white;
  height: 50px;
  width: 100%;
  padding: 5px;
  line-height: 3;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: none;
}

/*** info ***/
.info {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.info img {
  width: 25%;
}
.info ul {
  list-style: none;
  margin-bottom: 30px;
}
.info li {
  margin-bottom: 10px;
}

/*** footer ***/
footer {
  background-color: #f4f3f4;
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background-color: #f4f3f4;*/
}
footer ul {
  list-style: none;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

footer img {
  width: 20px;
}
footer p {
  margin: 15px;
}
.socialMedia {
  margin: 25px;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 4rem;
  }
  header p {
    font-size: 1rem;
  }
  header input {
    width: 310px;
  }
  header button {
    width: 155px;
  }
  header img {
    width: 400px;
  }
  header > div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }

  .goodCompany {
    align-items: center;
  }
  .goodCompany button {
    width: 165px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .logos img {
    width: 165px;
  }
  .tryIt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .tryIt input {
    width: 165px;
  }
  .tryIt button {
    width: 155px;
  }
  .infoText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .info img {
    width: 15%;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  nav > ul {
    width: 500px;
    list-style: none;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  nav > .fas {
    display: none;
  }

  header {
    margin: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  header > .headerText {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  header h1 {
    width: 450px;
    font-size: 5rem;
  }
  header p {
    width: 450px;
  }
  header input {
    display: none;
  }
  .tryIt {
    height: 75px;
  }
  .tryIt input {
    display: none;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logos > img {
    width: 165px;
  }
  footer {
    height: 75px;
  }
}

/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
